<a href="https://www.kaggle.com/code/bsrsrc/online-retail-rfm?scriptVersionId=179988612" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import datetime as dt

In [2]:
df_ = pd.read_excel("/kaggle/input/online-retail-ii-dataset/online_retail_II.xlsx")
df = df_.copy()

In [3]:
df.columns
df.shape

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

(525461, 8)

In [4]:
df.nunique()

Invoice        28816
StockCode       4632
Description     4681
Quantity         825
InvoiceDate    25296
Price           1606
Customer ID     4383
Country           40
dtype: int64

In [5]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Quantity,525461.0,10.337667,-9600.0,1.0,3.0,10.0,19152.0,107.42411
InvoiceDate,525461,2010-06-28 11:37:36.845017856,2009-12-01 07:45:00,2010-03-21 12:20:00,2010-07-06 09:51:00,2010-10-15 12:45:00,2010-12-09 20:01:00,NaN
Price,525461.0,4.688834,-53594.36,1.25,2.1,4.21,25111.09,146.126914
Customer ID,417534.0,15360.645478,12346.0,13983.0,15311.0,16799.0,18287.0,1680.811316

In [6]:
## df["Invoice"] = [col for col in str(df["Invoice"]) if "C" not in col]

In [7]:
df["Invoice"].apply(type).unique()
df = df[~df['Invoice'].apply(lambda x: isinstance(x, str) and 'C' in x)]
df.head()

array([<class 'int'>, <class 'str'>], dtype=object)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [8]:
df = df[~df["Invoice"].str.contains("C", na=False)]
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [9]:
df["Invoice"].shape

(515255,)

In [10]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107560
Country             0
dtype: int64

In [11]:
df.dropna(inplace=True)
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [12]:
df["StockCode"].nunique()
df.head()

4017

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [13]:
df.groupby("StockCode").agg({"Quantity" : "sum"})

           Quantity
StockCode
10002          7801
10080            12
10109             4
10120           471
10125           790
...             ...
PADS             14
POST           2212
SP1002            5
TEST001          60
TEST002           1

[4017 rows x 1 columns]

In [14]:
a = df.groupby("StockCode").agg({"Quantity": "sum"})
a.sort_values(by="Quantity", ascending=False)[:5]

           Quantity
StockCode
21212         57570
85123A        56915
84077         54754
85099B        48802
17003         48166

In [15]:
df["TotalPrice"] = df["Quantity"] * df["Price"]
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [16]:
df["InvoiceDate"].max()
today_date = dt.datetime(2010, 12, 11)
rfm = df.groupby("Customer ID").agg({"InvoiceDate" : lambda x: (today_date - x.max()).days,
                                     "Invoice" : lambda x: x.sum(),
                                     "TotalPrice": lambda x: x.sum() })
rfm.columns = ["recency", "frequency", "monetary"]
rfm["monetary"] > 0
rfm.head()

Timestamp('2010-12-09 20:01:00')

Customer ID
12346.0    True
12347.0    True
12348.0    True
12349.0    True
12351.0    True
           ...
18283.0    True
18284.0    True
18285.0    True
18286.0    True
18287.0    True
Name: monetary, Length: 4314, dtype: bool

             recency  frequency  monetary
Customer ID
12346.0          165   16697739    372.86
12347.0            3   37863366   1323.32
12348.0           74   10482800    222.16
12349.0           43   52916772   2671.14
12351.0           11   11256252    300.93

In [17]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5, 4, 3, 2, 1])
rfm["frequency_score"] = pd.qcut(rfm["frequency"], 5, labels=[1, 2, 3, 4, 5])
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=[1, 2, 3, 4, 5])
rfm.head()

,recency,frequency,monetary,recency_score,frequency_score,monetary_score
Customer ID,,,,,,
12346.0,165,16697739,372.86,2,3,2
12347.0,3,37863366,1323.32,5,4,4
12348.0,74,10482800,222.16,2,2,1
12349.0,43,52916772,2671.14,3,4,5
12351.0,11,11256252,300.93,5,2,2

In [18]:
rfm["RF_Score"] = (rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str))
rfm["RF_Score"].head()

Customer ID
12346.0    23
12347.0    54
12348.0    22
12349.0    34
12351.0    52
Name: RF_Score, dtype: object

In [19]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}
rfm["segment"] = rfm["RF_Score"].replace(seg_map,regex=True)
rfm.head()
rfm.reset_index(inplace=True)

,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_Score,segment
Customer ID,,,,,,,,
12346.0,165,16697739,372.86,2,3,2,23,at_Risk
12347.0,3,37863366,1323.32,5,4,4,54,champions
12348.0,74,10482800,222.16,2,2,1,22,hibernating
12349.0,43,52916772,2671.14,3,4,5,34,loyal_customers
12351.0,11,11256252,300.93,5,2,2,52,potential_loyalists

In [20]:
rfm.columns
loyal_customers = rfm[rfm["segment"] == "loyal_customers"]["Customer ID"]
loyal_customers.head()

Index(['Customer ID', 'recency', 'frequency', 'monetary', 'recency_score',
       'frequency_score', 'monetary_score', 'RF_Score', 'segment'],
      dtype='object')

3     12349.0
8     12356.0
9     12357.0
11    12359.0
17    12369.0
Name: Customer ID, dtype: float64